*{
	margin: 0;
	padding: 0;
	text-align: center;
	}
	
	.esquerdo{
	text-align: center;
	float: left;
	width: 180px;
	border: 5px solid red;
	padding: 10px;
	background-color: black;
	clear: both;
	}
	
	#verde, #vermelho, #amarelo{
	text-align: center;
	width: 150px;
	height: 150px;
	border: solid black 15px;
	margin-bottom: 5px;    
	border-radius: 50%;
	}
	
	.direito{
	text-align: center;
	float: right;
	width: 180px;
	border: 5px solid red;
	padding: 10px;
	background-color: black;
	clear: both top;
	}
	
	#verde1, #vermelho1, #amarelo1{
	text-align: center;
	width: 150px;
	height: 150px;
	border: solid black 15px;
	margin-bottom: 5px;    
	border-radius: 50%;
	}
	
	.emerg{
	text-align: center;
	float: left;
	width: 180px;
	border: 5px solid red;
	padding: 10px;
	background-color: black;
	clear: both;
	
	}
	
	#amarelo0, #vermelho0, #verde0 {
	text-align: center;
	width: 150px;
	height: 150px;
	border: solid black 15px;
	margin-bottom: 5px;    
	border-radius: 50%;
	}
	
	.emergdir{
	text-align: center;
	float: right;
	width: 180px;
	border: 5px solid red;
	padding: 10px;
	background-color: black;
	clear: both top;
	}
	
	#amarelo3, #vermelho3, #verde3 {
	text-align: center;
	width: 150px;
	height: 150px;
	border: solid black 15px;
	margin-bottom: 5px;    
	border-radius: 50%;
	}
	
	img{
	width: 500px;
	}
	
	.semafaro{
	float: right;
	position: fixed;
	margin: 100px 530px;
	width: 40%;
	text-align: center;
	}